<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.appthibanglaixe">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppThiBangLaiXe"
        android:usesCleartextTraffic="true">
        <activity-alias
            android:name=".Activity.Tab_Test_Fragment"
            android:targetActivity=".MainActivity"
            android:parentActivityName="@string/title_activity_thi_sat_hoach"/>
        <activity
            android:name=".Activity.KetQuaThiActivity"
            android:exported="false" />

        <activity
            android:name=".Activity.OnTapLyThuyetActivity"
            android:parentActivityName=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.LoginActivity"
            android:parentActivityName=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.SatHoachActivity"
            android:parentActivityName=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.BienBaoActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.MeoThiActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.HocLyThuyetActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.LuyenTap_Activity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>